backports-abc==0.5
certifi==2021.10.8
chardet==4.0.0
Click==8.0.4
idna==3.3
Jinja2==3.0.3
livereload==2.6.3
Markdown==3.3.6
MarkupSafe==2.1.0
mkdocs==1.2.3
PyYAML==6.0
requests==2.27.1
singledispatch==3.7.0
six==1.16.0
tornado==6.1
urllib3==1.26.8
