backports-abc==0.5
certifi==2025.1.31
chardet==5.2.0
Click==8.1.7
idna==3.10
Jinja2==3.1.4
livereload==2.7.0
Markdown==3.7
MarkupSafe==3.0.2
mkdocs==1.6.1
PyYAML==6.0.2
requests==2.32.3
singledispatch==4.1.1
six==1.16.0
tornado==6.4.2
urllib3==2.2.3
