backports-abc==0.5
certifi==2021.5.30
chardet==4.0.0
Click==8.0.1
idna==3.2
Jinja2==3.0.1
livereload==2.6.3
Markdown==3.3.4
MarkupSafe==2.0.1
mkdocs==1.1.2
PyYAML==5.4.1
requests==2.25.1
singledispatch==3.6.2
six==1.16.0
tornado==6.1
urllib3==1.26.5
